{% extends 'base.twig' %}

{% block title %}Manage pages{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <h1 class="display-3"> Manage your pages</h1>
            <p><a href="{{ url('/pages/new') }}" title="Add entry" class="btn btn-success">Add new page</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Published</th>
                    <th colspan="4">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in pages %}
                    <tr>
                        <td>{{ entry.idpages|e }}</td>
                        <td>{{ entry.title|e }}</td>
                        <td>{{ entry.published|e }}</td>
                        <td>
                            <a href="{{ url('/settings/homepage', {'id': entry.idpages}) }}">Set as homepage</a>
                        </td>
                        <td>
                            <a href="{{ url('/pages/edit', {'id': entry.idpages}) }}" title="Edit entry">Edit entry</a>
                        </td>
                        <td>
                            <a href="{{ path('/photos/upload', {'id': entry.idpages}) }}" title="Upload photo">Upload photo</a>
                        </td>
                        <td>
                            <a href="{{ url('/pages/delete', {'id': entry.idpages}) }}" title="Delete entry">Delete entry</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}